FIREBASE_API_KEY=AIzaSyBVAXfOGPV11t7HIkgb6YH4GScws1mfTzk
FIREBASE_AUTH_DOMAIN=gen-lang-client-0507076122.firebaseapp.com
FIREBASE_DATABASE_ID=ai-studio-itissimple-e32d4304-3e35-441e-a910-7af9cbdeb03e
FIREBASE_PROJECT_ID=gen-lang-client-0507076122
GOOGLE_CLIENT_ID=gen-lang-client-0507076122.apps.googleusercontent.com
GOOGLE_PROJECT_ID=gen-lang-client-0507076122
GOOGLE_DRIVE_TOKEN=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
MERRIAM_WEBSTER_API_KEY=
MERRIAM_WEBSTER_REF=
SPOTIFY_TOKEN=
VITE_FIREBASE_API_KEY=AIzaSyBVAXfOGPV11t7HIkgb6YH4GScws1mfTzk
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0507076122.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-itissimple-e32d4304-3e35-441e-a910-7af9cbdeb03e
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0507076122
VITE_FIREBASE_OAUTH_CLIENT_ID=gen-lang-client-0507076122.apps.googleusercontent.com
YOUTUBE_API_KEY=